body 
{
    background-image:url(images/back.gif);
}
h1,h2,h3,h4,h5,h6
{
    color:#3ea18d;
    font-size:xx-large;   
}
hr
{
    width:90%;
}
ul,li
{
    margin:0;
    padding:0; 
    list-style:none;
}
a
{
    text-decoration:none;
    color:#3ea18d;
    
}
image
{
    border:none;
}
.mainBody
{
    width:900px;
    margin:0 auto;
    font-family:Arial;
    background-color:White;
    position:relative;
    top:0px;
}

.head
{
    height:150px;
    overflow:hidden;
    width:900px;
    margin:0 auto;
}
.foot
{
    overflow:hidden;
    width:900px;
    margin:0 auto;

    text-align:center;
}
.headControls
{
    margin-top:50px;
    margin-right:20px;
    height:100px; 
    overflow:hidden;
    width:300px;
    float:right;
    text-align:right;
}
.logo
{
    width:200px;
    height:140px;
    overflow:hidden;

}
.icon
{
    width:40px;
    height:40px;
    overflow:hidden;
    cursor:pointer;
}
.searchBox
{
    margin-bottom:10px;
    position:relative;
    height:20px;
    width:120px;
    background:url(images/search.png) no-repeat top left;
    padding-left:25px;
    line-height:20px;
    border-style:groove;
    border-radius:6px;
}
.homepageParagraph
{
    width:800px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    line-height:25px;
}
.homepageParagraph span
{
    font-family:Georgia;
   
}
.facebookLike img
{
    width:30px;
    height:30px;
    margin-top:10px;
}
.facebookLike span
{
    font-family:Georgia;
    font-size:small;
    
}
.facebookLike span a
{
    font-family:Georgia;
    font-size:small;
    
}

hr
{
    color:#3ea18d;
}
/*----收藏品种类----*/
ul.imageHolder{
	list-style:none;
	padding:0;
	margin:0;
}
ul.imageHolder li{
	float:left;
	margin-left:15px;
	margin-bottom:10px;
}
ul.imageHolder li:hover{
	border-color:#8DCBE0;
}
ul.imageHolder li a{
	width:200px;
	height:150px;
	display:block;
}
ul.imageHolder li img{
	width:235px;
	height:200px;
}

ul.imageHolder li p
{
    color:#3ea18d
}


/*-----收藏品信息表----*/
table.collectionTable{
	padding:0;
	margin:0;
	width:900px;
	font-family:Arial;
	font-size:12px;
	text-align:center;
	border-collapse:collapse;
}

table.collectionTable tr td p
{
    float:left;
	margin-left:70px;
	margin-bottom:10px;

}

table.collectionTable tr{
	border:1px solid #DCE8ED;
	border-left-style:none;
	border-right-style:none;
}

table.collectionTable tr td.td1{
	high:120px;
	width:250px;
}
table.collectionTable tr td.td2{
	high:120;
	width:300px;
}

table.collectionTable tr th{
	height:30px;
}
table.collectionTable tr td p:hover{
	border-color:#8DCBE0;
}
table.collectionTable tr td p a{
	width:150px;
	height:100px;
	display:block;
}
table.collectionTable tr td p img{
	margin-left:30px;
	margin-bottom:10px;
	max-width:200px;
	max-height:150px;
}

#navmenu{background:#e9f2f1;font-size:15px;position:relative;z-index:4; width:900px; margin:0 auto; height:39px;}
#navmenu ul {float:left;}
#navmenu ul li {float:left;height:37px;line-height:37px;position:relative; margin-left:25px}
#navmenu ul li ul{position:absolute;top:37px;left:0;width:300px;background:#e9f2f1;display:none;}
#navmenu ul li ul li {float:left;display:block;width:300px;}

.chinaz { width: 900px; height: 500px; margin:0 auto; position: relative; overflow:hidden; }
.chinaz .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; right: 15px; z-index:3; opacity:0.5 }
.chinaz .num li { width: 25px; height: 25px; line-height: 25px; text-align: center; color:#3ea18d; background: #e9f2f1; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.chinaz .num li.on { background: Purple; } 
.chinaz .prev,
.chinaz .next { display: none; width: 40px; height: 100px; background: url(images/btn.png) no-repeat; position: absolute; top: 200px;}
.chinaz .prev { left: 0; }
.chinaz .next { right: 0; background-position: right }

.posters .contentHolderUnit{cursor:pointer;position:absolute;}
.posters .contentHolderUnit img{border-radius:6px; width:100%;height:100%;border:0;}