body 
{
    background-image:url(../images/bg1.png);
    font-family:'Segoe UI';
}
h1,h2,h3,h4,h5,h6
{
    color:#3ea18d;
    font-size:xx-large;   
}
hr
{
    width:90%;
    
}

hr.hr1
{
    width:90%;
    margin:0 auto;
    
}

ul,li
{
    margin:0;
    padding:0; 
    list-style:none;
}
a
{
    text-decoration:none;
    color:#3ea18d;
    
}
image
{
    border:none;
}

.mainBody
{
    width:900px;
    margin:0 auto;

    background-color:White;
    position:relative;
    top:0px;
}

.head
{
    height:150px;
    overflow:hidden;
    width:900px;
    margin:0 auto;
}
.foot
{
    overflow:hidden;
    width:900px;
    margin:0 auto;
    margin-top:100px;
    text-align:center;
}

.headControls
{
    margin-top:50px;
    margin-right:20px;
    height:140px; 
    overflow:hidden;
    width:670px;
    float:right;
    text-align:right;
}
.logo
{
    width:200px;
    height:140px;
    overflow:hidden;

}
.icon
{
    width:40px;
    height:40px;
    overflow:hidden;
    cursor:pointer;
}
.headtitle
{
    font-size:x-large;
    color:#3ea18d;
    float:left;

    font-weight:bold;
}

.searchBox
{
    margin-bottom:10px;
    position:relative;
    height:20px;
    width:120px;
    background:url(../images/search.png) no-repeat top left;
    padding-left:25px;
    line-height:20px;
    border-style:groove;
    border-radius:6px;
}
.searchButton
{
    position:relative;
    height:25px;
    width:40px;
    border-radius:4px;
    background-color:#B53798;
    color:white;
    border:none;
    cursor:pointer;
}
.languageBox
{
    position:relative;
    height:25px;
    width:80px;
    border-style:groove;
    border-radius:6px;
    margin-right:20px;
}
.paragraph
{
    width:800px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    line-height:25px;
}

.facebookLike img
{
    width:30px;
    height:30px;
    margin-top:10px;
}
.facebookLike span
{
    font-size:small;   
}
.facebookLike span a
{
    font-size:small;   
}

hr
{
    color:#3ea18d;
}
/*----收藏品种类----*/


ul.imageHolder
{
    width:850px;
	list-style:none;
	position:relative;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:40px;
}
ul.imageHolder li
{
	float:left;
	margin-left:15px;
	margin-bottom:10px;	
	text-align:center;
}
ul.imageHolder li:hover{
	border-color:#8DCBE0;
}
ul.imageHolder li a
{
    background-color:#FFF;
	width:180px;
	height:180px;
	display:block;
}
ul.imageHolder li img
{
	max-width:180px;
	max-height:160px;
}

ul.imageHolder li p
{
    color:#3ea18d
}

/*-----设计师-----*/
.designer
{ 
    margin-top:40px; margin-left:60px; margin-bottom:40px; margin-right:60px
}
.designer img
{
    max-width:300px;
    max-height:600px;
    float:right;
    margin-bottom:40px;
    border-radius:12px;
}
.designer .description
{
    width:400px;
    line-height:25px;
    word-break:normal;   
}

/*-----展会-----*/
.tradeshow
{
    padding-right:15px;
    padding-left:15px;
    margin-left:25px;
    margin-bottom:40px;
    margin-right:60px;
}
.tsTable
{
    width:210px;
    height:400px;
    margin:5px;
    float:left;
    text-align:center;
}

.tsImg
{
    height:200px;
    margin-bottom:15px;
    margin-top:15px;
}

/*-----收藏品信息表----*/
table.collectionTable{
	padding:0;
	margin:0;
	width:900px;
	font-family:Arial;
	font-size:12px;
	text-align:center;
	border-collapse:collapse;
}

table.collectionTable tr td p
{
    float:left;
	margin-left:70px;
	margin-bottom:10px;

}

table.collectionTable tr{
	border:1px solid #DCE8ED;
	border-left-style:none;
	border-right-style:none;
}

table.collectionTable tr td.td1{
	height:120px;
	width:250px;
}
table.collectionTable tr td.td2
{
    height:120px;
	width:200px;
}

table.collectionTable tr th{
	height:30px;
}
table.collectionTable tr td p:hover{
	border-color:#8DCBE0;
}
table.collectionTable tr td p a{
	width:150px;
	height:100px;
	display:block;
}
table.collectionTable tr td p img{
	margin-left:0px;
	margin-bottom:10px;
	max-width:150px;
	max-height:100px;
}

.bespoke
{
    width:850px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
    /*line-height:25px;*/
}

.newsBox
{
    width:800px;
    margin:0 auto;
    margin-top:20px;
}

    .newsBox .newsDate
    {
        font-size:medium;
        margin-left:50px;
    }
    .newsBox .newsTitle
    {
        font-size:x-large;
        color:#3ea18d;
    }


.infoIcon
{
    max-height:30px;
    max-width:30px;
    position:relative;
    margin-top:10px;
    margin-right:20px;
}
.info
{
    color:blue;
}

.bespoke img{ width:850px;height:430px; clear: both;display: block; margin:auto;}
.bespoke ul{padding-left:25px; list-style-type:disc; font-family:Georgia;}

#navmenu{font-size:15px;position:relative;z-index:4; width:900px; margin:0 auto; height:39px;font-weight:bold}
#navmenu ul {float:left;}
#navmenu ul li {float:left;height:30px;line-height:30px;position:relative; margin-left:25px}
#navmenu ul li ul{position:absolute;top:37px;left:0;width:300px;background:#e9f2f1;display:none;}
#navmenu ul li ul li {float:left;display:block;width:300px;}

.chinaz { width: 900px; height: 500px; margin:0 auto; position: relative; overflow:hidden; }
.chinaz .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; right: 15px; z-index:3; opacity:0.5 }
.chinaz .num li { width: 25px; height: 25px; line-height: 25px; text-align: center; color:#3ea18d; background: #e9f2f1; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.chinaz .num li.on { background: Purple; } 
.chinaz .prev,
.chinaz .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 200px;}
.chinaz .prev { left: 0; }
.chinaz .next { right: 0; background-position: right }

.posters .contentHolderUnit{cursor:pointer;position:absolute;}
.posters .contentHolderUnit img{border-radius:6px; width:100%;height:100%;border:0;}

li{ list-style:none}
#rightButton{ position:fixed; _position:absolute; top:208px; right:0; z-index:999999; display:block;}
#right_ul{ position:relative;}
#right_qq{  background:url(../images/7_03.png) no-repeat; width:68px; height:74px; }
#right_tel{ background:url(../images/7_05.png) no-repeat; width:68px; height:77px; }
#right_tip{  background:url(../images/flag_right.png) no-repeat; width:252px; height:91px; position:absolute; right:70px; top:-10px; display:none; z-index:999999; }
.flagShow_p1{ float:left; margin-left:15px; _margin-left:5px; font-size:18px; line-height:51px;}
.flagShow_p2{ float:left; margin-left:10px; _margin-left:5px; font-size:16px;  color:#FA7C00; line-height:51px;}
.flagShow_p2 a{ display:block; margin: 20px 0 5px 12px; line-height:0;}
.flagShow_p2 span{ margin: 0 0 0 14px; }
.flag_qq{ display:none;}
#backToTop{ position:fixed; _position:absolute; bottom:50px; right:0; z-index:999999; display:none; }
a.backToTop_a{  background:url(../images/7_08.png) no-repeat; width:68px; height:79px; display:block; }
a.backToTop_a:active{  background:url(../images/7_11.png) no-repeat; }
.line91{ line-height:91px; }
